.container_div {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.container_div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark_div {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container_div:hover input ~ .checkmark_div {
    background-color: #ccc;
}

.container_div input:checked ~ .checkmark_div {
    background-color: #2196F3;
}

.checkmark_div:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container_div input:checked ~ .checkmark_div:after {
    display: block;
}
  
.container_div .checkmark_div:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}